{
    email ops@christopheraltman.com
}

www.continuationobservatory.org {
    tls /etc/ssl/certs/continuationobservatory-origin.pem /etc/ssl/private/continuationobservatory-origin.key
    redir https://continuationobservatory.org{uri} 308
}

continuationobservatory.org {
    tls /etc/ssl/certs/continuationobservatory-origin.pem /etc/ssl/private/continuationobservatory-origin.key
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    reverse_proxy 127.0.0.1:8420
}
